.hero {
    background: url('../images/hero.jpg');
    background-size: cover;
    background-position-y: -110px;
    position: relative;
    text-align: center;
    color: #fff;
    padding: 5em 0;
    margin-bottom: 2em;
}
.hero h1 {
    font-family: "Pacifico", "Arial Black", sans-serif;
    font-size: 5em;
    color: #fff;
}
.hero p {
    margin-bottom: 2em;
}

.hero:before {
     content: '';
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-image: linear-gradient(to bottom right,#43C6AC,#F8FFAE);
     opacity: .6;
 }

.control-section {
    margin-bottom: 3em;
    margin-top: 2em;
}

.form-input {
    background: #fff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    display: inline-block;
    font-size: 0px;
    margin: 58px auto 0;
    margin-bottom: -105px;
    padding: 9px;
    position: relative;
    box-shadow: 0 2px 5px #888888;
}

.form-input input {
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    border-radius: 5px 0 0 5px;
    color: #888;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 40px;
    margin: 0;
    padding: 0 10px;
    width: 469px !important;
}

.form-input button {
    background: #84d4c3;
    box-sizing: content-box;
    border: 1px solid #84d4c3;
    border-radius: 0 5px 5px 0;
    color: #fff;
    display: block;
    float: left;
    font-family: 'Cabin', helvetica, arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    height: 38px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 80px;
}
.control-section h4 {
    font-size: 29px;
    color: #757674;
}

.invitee-member h3 {
    color: #5c5d5c;
}

.invitee-member p {
    color: #cecece;
}
.invitee-member .hideclass p {
    color: #84d4c3 !important;
}

.invitee-member .hideclass .thumbnail {
    border: 1px solid #84d4c3;
}

.invitee-member .btn-primary {
    color: #fff;
    background-color: #67c3cb;
    border-color: #67c3cb;
}

.invitee-member .btn-default {
    color: #fff;
    background-color: #84d4c3;
    border-color: #84d4c3;
}

.form-input button {
    outline: none;
}

.form-input .btn-default:hover {
    color: #fff;
    background-color: #67c3cb;
    border-color: #67c3cb;
    outline: none;
}

.form-input .btn-default:active, .form-input .btn-default:focus {
    color: #fff;
    background-color: #67c3cb;
    border-color: #67c3cb;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #67c3cb;
    border-color: #67c3cb;
}